/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.container {
    margin-top: 1.3em !important;
    border-radius: 0.6rem;
    width: 90%;
    margin: 0 auto;
    padding: 2rem;
    background-color: white;
}
