.confirmation-base {
    background-color: white;
}

.hero-image-container img {
    width: 16rem;
    height: 16rem;
}

a.redirect-button {
    padding: 0.4rem 0.8rem;
    background-color: #FF5733;
    border-radius: 4px;
    border: 1px solid #FF5733;
    color: white;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    max-width: 11%;
}

a.redirect-button:hover {
    background-color: #e64a19;
    border-color: #e64a19;
}

a.redirect-button > svg {
    width: 28px;
    height: 28px;
}